<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials/header :: head(#{navigation.home})}"></head>

<body>
<nav th:replace="~{partials/navigation :: navigation}"></nav>
<!--Main layout-->
<main>

    <div class="container">

        <section class="text-center mb-4">
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4" th:each="product : ${producten}">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img th:src="@{/images/1.jpg}" class="card-img-top"
                                 alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card image-->

                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Category & Title-->
                            <a href="" class="grey-text">
                                <h5 th:text="${product.category}"></h5>
                            </a>
                            <h5>
                                <strong>
                                    <a href="" class="dark-grey-text" th:text="${product.title}">
                                        <span class="badge badge-pill danger-color">NEW</span>
                                    </a>
                                </strong>
                            </h5>

                            <h4 class="font-weight-bold blue-text">
                                <strong th:text="'$ ' + ${product.price}"></strong>
                            </h4>
                            <div sec:authorize="isAuthenticated()">
                                <form method="get" th:action="@{/cart/add}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="text" th:value="${product.id}"
                                               name="id" hidden >
                                    </div>
                                    <button class="btn btn-primary" th:field="submit"
                                            >Add Cart</button>
                                </form>
                            </div>

                        </div>
                        <!--Card content-->

                    </div>
                    <!--Card-->
                </div>
                <!--Grid column-->


            </div>
            <!-- for each -->

            <!--Grid row-->
        </section>
        <!--Section: Products v.3-->

    </div>
</main>
<div th:replace="~{partials/footer :: footer}"></div>
</body>

</html>